/.phpunit.cache
/awstats
/box_templates_metronic
/dev_modules/*
/node_modules
/modules
/local_repo
/public/build
/public/hot
/public/storage
/public/dbm/*
/resources/dbm/*
/resources/vendor/*
/resources/views/vendor/*
/storage/*.key
/storage/pail
/vendor
.editorconfig
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.src
composer.local.json
composer.lock
composer.phar
package-lock.json
simplo.php
